*{
    margin: 0;
    
}
.layer{
    width: 100%;
    float: left;
    position: absolute;
    left: 0;
    opacity: 2;
    outline: black;
    height: 100vh;
    top: 00vh;
}

#l1{
    background-color: white;
    z-index: 22;
    /* height: 100vh; */

}

#l2{
    background-color: black; 
    z-index: 21;
    /* height: 100vh;
    top: 00vh; */
}

#l3{
    background-color: white; 
    z-index: 20;
    /* height: 100vh;
    top: 00vh; */
}

#l4{
    background-color: black; 
    z-index: 19;
    /* height: 100vh;
    top: 00vh; */
}

#l5{
    background-color: white; 
    z-index: 18;
    /* height: 100vh;
    top: 00vh; */
}

#l6{
    background-color: black; 
    z-index: 17;
    /* height: 100vh;
    top: 00vh; */
}
#l7{
    background-color: white; 
    z-index: 16;
    /* height: 100vh;
    top: 00vh; */
}
#l8{
    background-color: black; 
    z-index: 15;
    /* height: 100vh;
    top: 00vh; */
}
#l9{
    background-color: black; 
    z-index: 14;
    /* height: 100vh;
    top: 00vh; */
}
#l10{
    background-color: black; 
    z-index: 13;
    /* height: 100vh;
    top: 00vh; */
}


#lst{
    background-color: black; 
    z-index: 2;
}

.slidecontainer {
    width: 60%;
    margin: auto;
    /* position:; */
    /* bottom: 2%; */
    /* right: 20%; */


  }
.slider-pic {
    -webkit-appearance: none;
    width: 100%;
    height: 30px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider-pic:hover {
    opacity:1;
}

.slider-pic::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 23px;
    height: 30px;
    border: 0;
    background: red;
    cursor: pointer;
}

.slider-pic::-moz-range-thumb {
    width: 23px;
    height: 24px;
    border: 0;
    background: url('img/bright.png');
    cursor: pointer;
}

.if{
    /* width: 98%;
    height: 90vh;
    border: none;
    /* margin: 10% 10%;
    outline: none;
    position: relative;
    top: 10%;
    left: 10%; */

    width: 98%;
    height: 90vh;
    border: none;
    /* margin: 1% 0.5%; */
    margin:0.5% 0.5% 0% 0.5%;
    outline: none;
    position: relative;
    /* top: 1%; */
    /* left: 2%; */
}